/*
 * Practice : Z-index, !important and Inheritance
 * Version: 1
 * By: César Arango Carvajal
 */

p {
  margin: 0;
}

.page-content {
  font-size: 0;
  box-sizing: border-box;
  background-color: #D5EADF;
  padding: 3% 3% 12% 3%;
  margin: 0 auto;
}

.big-blue {
  box-sizing: border-box;
  background-color: #78C4CF;
  padding-bottom: 50px;
  margin-bottom: 30px;

}

.color-white {
  color: #ffffff;
}

.holder {
  box-sizing: border-box;
  width: 55%;
}

.uppercase {
  text-transform: uppercase;
}

.light-cyan {
  box-sizing: border-box;
  width: 55%;
  background-color: #E4F3F5;
}

.simple-padder {
  padding: 30px;
}

.average-yellow {
  box-sizing: border-box;
  width: 36%;
  background-color: #DFE189;
  position: absolute;
  top: 12%;
  right: 3%;
  max-height: 79%;
}

.black-shade {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 34%;
  max-height: 100%;

}

.title-font {
  font-size: 20px;
  font-weight: 600;
}

.normal-font {
  font-size: 16px;
}

.mix-bordered {
  margin: 10px 0;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #E12A43;
}

.simple-list-style {
  padding: 0;
  list-style: none;
}

.extender {
  height: 3000px;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  .black-shade {
    opacity: 0;
  }

  .average-yellow {
    position: relative;
    top: auto;
    right: auto;
    height: auto;
    width: 100%;
  }

  .holder {
    width: 100%;
  }
  .light-cyan {
    width: 96%;
  }
}
